In [73]:
import numpy as np
import pandas as pd
import os

In [74]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.ensemble import RandomForestRegressor

path = ""
train = pd.read_csv(path + "train.csv")
test = pd.read_csv(path + "test.csv")

# One-hot-encode categorical variables
train['dataset'] = "train"
test['dataset'] = "test"
data = pd.concat([train,test], axis = 0)
categorical = ['property_type','room_type','bed_type','cancellation_policy','city']
data = pd.get_dummies(data, columns = categorical)



# Select only numeric data and impute missing values as 0
numerics = ['uint8','int16', 'int32', 'int64', 'float16', 'float32', 'float64']
train_x = data[data.dataset == "train"] \
    .select_dtypes(include=numerics) \
    .drop("log_price", axis = 1) \
    .fillna(0) \
    .values

test_x = data[data.dataset == "test"] \
    .select_dtypes(include=numerics) \
    .drop("log_price", axis = 1) \
    .fillna(0) \
    .values
    
train_y = data[data.dataset == "train"].log_price.values

# Train a Random Forest model with cross-validation

from sklearn.model_selection import KFold
cv_groups = KFold(n_splits=3)
regr = RandomForestRegressor(random_state = 0, n_estimators = 10)

for train_index, test_index in cv_groups.split(train_x):
    
    # Train the model using the training sets
    regr.fit(train_x[train_index], train_y[train_index])
    
    # Make predictions using the testing set
    pred_rf = regr.predict(train_x[test_index])
    
    # Calculate RMSE for current cross-validation split
    rmse = str(np.sqrt(np.mean((train_y[test_index] - pred_rf)**2)))
    
    print("RMSE for current split: " + rmse)
    
# Create submission file
regr.fit(train_x, train_y)
final_prediction = regr.predict(test_x)

submission = pd.DataFrame(np.column_stack([test.id, final_prediction]), columns = ['id','log_price'])
submission.to_csv("sample_submission.csv", index = False)

RMSE for current split: 0.423195134824
RMSE for current split: 0.416264460802
RMSE for current split: 0.427645343345

In [75]:
print(data)

       accommodates                                          amenities  \
0                 3  {"Wireless Internet","Air conditioning",Kitche...
1                 7  {"Wireless Internet","Air conditioning",Kitche...
2                 5  {TV,"Cable TV","Wireless Internet","Air condit...
3                 4  {TV,"Cable TV",Internet,"Wireless Internet",Ki...
4                 2  {TV,Internet,"Wireless Internet","Air conditio...
5                 2  {TV,"Wireless Internet",Heating,"Smoke detecto...
6                 3  {TV,Internet,"Wireless Internet","Air conditio...
7                 2  {TV,"Cable TV","Wireless Internet","Wheelchair...
8                 2  {TV,"Cable TV","Wireless Internet","Pets live ...
9                 2  {"Wireless Internet","Air conditioning",Kitche...
10                2  {Internet,"Wireless Internet","Air conditionin...
11                4  {TV,"Cable TV",Internet,"Wireless Internet",Ki...
12                2  {TV,Internet,"Wireless Internet",Kitchen,"Free...
13                6  {TV,"Cable TV",Internet,"Wireless Internet","A...
14                2  {Kitchen,Heating,"Smoke detector","Carbon mono...
15                2  {Internet,"Wireless Internet","Air conditionin...
16                2  {TV,"Wireless Internet",Kitchen,"Pets allowed"...
17                2  {Internet,"Wireless Internet","Air conditionin...
18                2  {TV,"Cable TV",Internet,"Wireless Internet","A...
19                8  {TV,"Wireless Internet","Air conditioning",Kit...
20                2  {"Cable TV",Internet,"Wireless Internet","Air ...
21                2  {Internet,"Air conditioning",Kitchen,"Smoking ...
22                4  {TV,"Cable TV",Internet,"Wireless Internet","A...
23                2  {Internet,"Wireless Internet","Air conditionin...
24                4  {TV,"Wireless Internet","Air conditioning",Kit...
25                6  {TV,"Cable TV",Internet,"Wireless Internet","A...
26                2  {TV,"Wireless Internet",Pool,Kitchen,"Elevator...
27                4  {TV,"Cable TV","Wireless Internet","Air condit...
28                3  {TV,Internet,"Wireless Internet","Air conditio...
29                3  {TV,Internet,"Wireless Internet","Air conditio...
...             ...                                                ...
25428             2  {Internet,"Wireless Internet","Air conditionin...
25429             1  {TV,"Wireless Internet","Air conditioning",Kit...
25430             2  {"Wireless Internet","Air conditioning",Elevat...
25431             2  {"Wireless Internet","Air conditioning",Kitche...
25432             3  {TV,"Cable TV","Wireless Internet","Air condit...
25433             2  {TV,"Wireless Internet","Air conditioning",Kit...
25434             1  {"Wireless Internet","Air conditioning",Kitche...
25435             4  {"Wireless Internet","Air conditioning",Kitche...
25436             1  {"Wireless Internet",Kitchen,Heating,"Smoke de...
25437             2  {TV,Internet,"Wireless Internet","Air conditio...
25438             3  {TV,"Cable TV",Internet,"Wireless Internet","A...
25439             4  {TV,"Cable TV",Internet,"Wireless Internet","A...
25440             2  {Internet,"Wireless Internet",Kitchen,"Pets li...
25441             2  {TV,"Cable TV",Internet,"Wireless Internet","A...
25442             1  {TV,Internet,"Wireless Internet","Air conditio...
25443             2  {TV,"Cable TV",Internet,"Wireless Internet","A...
25444             2  {"Cable TV","Wireless Internet","Air condition...
25445             1  {TV,"Wireless Internet","Smoke detector","Carb...
25446             2  {"Wireless Internet","Air conditioning",Kitche...
25447             1  {TV,"Cable TV","Wireless Internet","Air condit...
25448             1  {TV,"Wireless Internet","Air conditioning",Kit...
25449             4                                                 {}
25450             2  {TV,Internet,"Wireless Internet","Wheelchair a...
25451             5  {TV,"Cable TV",Internet,"Wireless Internet",Ki...
25452             2  {TV,Internet,"Wireless Internet","Air conditio...
25453             6  {TV,Internet,"Wireless Internet",Kitchen,"Free...
25454             1  {Internet,"Wireless Internet","Air conditionin...
25455             2  {TV,"Wireless Internet","Air conditioning",Kit...
25456             4  {TV,Internet,"Wireless Internet","Air conditio...
25457             2  {TV,Internet,"Wireless Internet",Kitchen,"Buzz...

       bathrooms  bedrooms  beds  cleaning_fee dataset  \
0            1.0       1.0   1.0          True   train
1            1.0       3.0   3.0          True   train
2            1.0       1.0   3.0          True   train
3            1.0       2.0   2.0          True   train
4            1.0       0.0   1.0          True   train
5            1.0       1.0   1.0          True   train
6            1.0       1.0   1.0          True   train
7            1.0       1.0   1.0          True   train
8            1.0       1.0   1.0          True   train
9            1.0       1.0   1.0          True   train
10           1.0       1.0   1.0          True   train
11           1.5       2.0   2.0          True   train
12           1.0       1.0   1.0          True   train
13           1.5       2.0   3.0          True   train
14           1.0       1.0   1.0          True   train
15           1.5       1.0   1.0          True   train
16           1.0       1.0   1.0         False   train
17           2.0       1.0   1.0          True   train
18           1.0       1.0   2.0          True   train
19           1.0       3.0   3.0          True   train
20           1.0       1.0   1.0          True   train
21           1.5       1.0   1.0          True   train
22           1.0       1.0   1.0          True   train
23           1.0       1.0   1.0          True   train
24           1.0       1.0   2.0          True   train
25           1.0       3.0   3.0          True   train
26           1.0       1.0   1.0          True   train
27           1.0       2.0   2.0          True   train
28           1.0       1.0   2.0          True   train
29           1.0       1.0   2.0          True   train
...          ...       ...   ...           ...     ...
25428        1.0       1.0   1.0         False    test
25429        1.0       1.0   1.0          True    test
25430        1.0       1.0   1.0          True    test
25431        1.0       1.0   1.0          True    test
25432        1.0       1.0   1.0          True    test
25433        1.0       1.0   1.0          True    test
25434        1.0       4.0   1.0          True    test
25435        1.0       0.0   2.0          True    test
25436        1.0       1.0   1.0          True    test
25437        1.0       1.0   1.0          True    test
25438        1.0       1.0   1.0         False    test
25439        1.0       1.0   2.0          True    test
25440        1.0       1.0   1.0          True    test
25441        1.0       1.0   1.0         False    test
25442        1.0       1.0   1.0          True    test
25443        1.0       1.0   2.0          True    test
25444        1.0       1.0   1.0          True    test
25445        1.0       1.0   1.0          True    test
25446        7.0       1.0   2.0          True    test
25447        1.0       1.0   1.0          True    test
25448        1.0       1.0   1.0         False    test
25449        2.0       2.0   4.0         False    test
25450        1.0       1.0   1.0          True    test
25451        1.0       2.0   2.0          True    test
25452        1.0       1.0   1.0         False    test
25453        2.0       3.0   4.0          True    test
25454        2.5       1.0   1.0         False    test
25455        1.0       1.0   1.0          True    test
25456        1.0       1.0   3.0          True    test
25457        1.0       1.0   1.0         False    test

                                             description first_review  \
0      Beautiful, sunlit brownstone 1-bedroom in the ...   2016-06-18
1      Enjoy travelling during your stay in Manhattan...   2017-08-05
2      The Oasis comes complete with a full backyard ...   2017-04-30
3      This light-filled home-away-from-home is super...          NaN
4      Cool, cozy, and comfortable studio located in ...   2015-05-12
5      Beautiful private room overlooking scenic view...   2017-08-27
6      Warm and cozy studio with full kitchen and bat...   2017-03-10
7      Arguably the best location (and safest) in dow...   2016-12-16
8      Garden Studio with private entrance from the s...   2016-02-13
9      Quiet community. Close to supermarkets,restaur...   2017-04-03
10     This is a bright bedroom in an historic buildi...   2013-04-28
11     A 1044 sq. ft., 1950's beach house. 3 Blocks f...   2015-07-02
12     Newly furnished room in beach apartment one st...          NaN
13     Amazing location at the heart of U street and ...   2017-02-18
14     This apartment is charming and wonderful. Beau...   2017-03-25
15     Just west of vibrant Wicker Park and Ukranian ...          NaN
16     Our place IS Six Corners! Top floor of 4 story...   2016-08-14
17     This is a nice duplex in a good location.Recen...   2016-07-16
18     I am renting a very spacious, unique, bright L...   2015-09-26
19     Huge 3 bedroom apartment situated in Flatbush,...   2017-07-30
20     Lovely 1 BR with queen bed and private bath en...   2016-06-26
21     Cozy room in my big private house in Brooklyn....   2015-10-10
22     My place is close to Broken Spanish, LA Live, ...   2016-07-23
23     A cozy home on a beautiful tree-lined street c...   2014-10-20
24     Our place is a modern, spacious apartment on t...          NaN
25     My place is close to JFK Airport, Green Acres ...   2017-03-25
26     Retro, Melrose Place-esque studio apartment st...   2016-07-17
27     This beautifully renovated fully furnished apa...   2017-07-03
28     This home is filled with love & laughter! Mode...   2015-12-30
29     Nice, cozy room in 1-bed apartment in the most...   2016-03-20
...                                                  ...          ...
25428  Very well located Brazilian musician's one bed...          NaN
25429  My place is close to  Central Park, Broadway, ...   2016-08-04
25430  Private room in 4 BR APT shared with young pro...          NaN
25431  My cozy one bedroom  is centrally located next...   2016-11-06
25432  Located within the heart of Bostonâ€™s historic ...          NaN
25433  In the heart of Southie, minutes from the city...   2017-09-22
25434  It's a cozy exposed brick private room. It has...   2017-09-04
25435  Studio with a kitchen, dinner table, closets, ...   2017-07-18
25436  An 8x11 room with high ceilings and south faci...   2016-02-29
25437  English, Italiano, Francais My place is a 5 mi...   2016-08-31
25438  Hello! I am renting out my wonderful apartment...          NaN
25439  A bright and modern 1-bedroom cottage located ...   2016-03-18
25440  A bright front bedroom in a 1906 Castro Edward...   2015-12-10
25441  Queen memory foam bed with projector to hang o...   2016-04-25
25442  This is a  cozy room. Share a quaint lil apt i...          NaN
25443  My home has breathtaking views! Bedroom #1: tw...   2015-08-31
25444  No Breakfast Included.      IMPORTANT!  Extra ...   2014-07-18
25445  Private Bedroom in 2BD apartment. Shared bath,...          NaN
25446  Welcome to my house! I live in a large, modern...   2017-08-25
25447  I am in the Kew Gardens area of Queens, which ...          NaN
25448  My apartment is Conveniently situated on Lexin...   2016-11-22
25449  Cool off in the pool area while staying in one...          NaN
25450  This listing has received 200+ all-five star r...   2012-06-17
25451  This fourth floor 1920's Edwardian apartment i...   2016-11-28
25452  Perfect location behind all the bars and resta...          NaN
25453  This is a bright and sunny single-family home ...   2013-02-03
25454  Looking to find someone to sublet a beautiful,...          NaN
25455  This quiet and safe house is in West Hollywood...   2016-12-12
25456  Our spacious 1BR is located right in the heart...          NaN
25457  This is my room in our 5b3br apartment. I'm tr...   2016-05-09

      host_has_profile_pic   ...   cancellation_policy_moderate  \
0                        t   ...                              0
1                        t   ...                              0
2                        t   ...                              1
3                        t   ...                              0
4                        t   ...                              1
5                        t   ...                              0
6                        t   ...                              1
7                        t   ...                              1
8                        t   ...                              1
9                        t   ...                              1
10                       t   ...                              0
11                       t   ...                              0
12                       t   ...                              0
13                       t   ...                              0
14                       t   ...                              0
15                       t   ...                              1
16                       t   ...                              0
17                       t   ...                              0
18                       t   ...                              0
19                       t   ...                              0
20                       t   ...                              0
21                       t   ...                              0
22                       t   ...                              1
23                       t   ...                              1
24                       t   ...                              1
25                       t   ...                              0
26                       t   ...                              0
27                       t   ...                              0
28                       t   ...                              0
29                       t   ...                              0
...                    ...   ...                            ...
25428                    t   ...                              0
25429                    t   ...                              0
25430                    t   ...                              0
25431                    t   ...                              0
25432                    t   ...                              0
25433                    t   ...                              1
25434                    t   ...                              0
25435                    t   ...                              1
25436                    t   ...                              1
25437                    t   ...                              1
25438                    t   ...                              0
25439                    t   ...                              0
25440                    t   ...                              1
25441                    t   ...                              0
25442                    t   ...                              1
25443                    t   ...                              1
25444                    t   ...                              0
25445                    t   ...                              1
25446                    t   ...                              1
25447                    t   ...                              0
25448                    t   ...                              0
25449                    t   ...                              0
25450                    t   ...                              0
25451                    t   ...                              0
25452                    t   ...                              0
25453                    t   ...                              0
25454                    t   ...                              0
25455                    t   ...                              1
25456                    t   ...                              1
25457                    t   ...                              0

      cancellation_policy_strict cancellation_policy_super_strict_30  \
0                              1                                   0
1                              1                                   0
2                              0                                   0
3                              0                                   0
4                              0                                   0
5                              1                                   0
6                              0                                   0
7                              0                                   0
8                              0                                   0
9                              0                                   0
10                             1                                   0
11                             1                                   0
12                             0                                   0
13                             1                                   0
14                             1                                   0
15                             0                                   0
16                             1                                   0
17                             1                                   0
18                             1                                   0
19                             1                                   0
20                             1                                   0
21                             1                                   0
22                             0                                   0
23                             0                                   0
24                             0                                   0
25                             1                                   0
26                             0                                   0
27                             1                                   0
28                             0                                   0
29                             1                                   0
...                          ...                                 ...
25428                          0                                   0
25429                          1                                   0
25430                          1                                   0
25431                          1                                   0
25432                          1                                   0
25433                          0                                   0
25434                          0                                   0
25435                          0                                   0
25436                          0                                   0
25437                          0                                   0
25438                          0                                   0
25439                          1                                   0
25440                          0                                   0
25441                          0                                   0
25442                          0                                   0
25443                          0                                   0
25444                          1                                   0
25445                          0                                   0
25446                          0                                   0
25447                          0                                   0
25448                          0                                   0
25449                          0                                   0
25450                          0                                   0

In [76]:
type(train["amenities"][0])

str

In [77]:
x = train["amenities"][0]
print(x)
print(type(x))

{"Wireless Internet","Air conditioning",Kitchen,Heating,"Family/kid friendly",Essentials,"Hair dryer",Iron,"translation missing: en.hosting_amenity_50"}
<class 'str'>

In [78]:
b = train["amenities"]
train["amenities"] = [x.split(",") for x in train["amenities"]]

In [80]:
print(train["amenities"])

0        [{"Wireless Internet", "Air conditioning", Kit...
1        [{"Wireless Internet", "Air conditioning", Kit...
2        [{TV, "Cable TV", "Wireless Internet", "Air co...
3        [{TV, "Cable TV", Internet, "Wireless Internet...
4        [{TV, Internet, "Wireless Internet", "Air cond...
5        [{TV, "Wireless Internet", Heating, "Smoke det...
6        [{TV, Internet, "Wireless Internet", "Air cond...
7        [{TV, "Cable TV", "Wireless Internet", "Wheelc...
8        [{TV, "Cable TV", "Wireless Internet", "Pets l...
9        [{"Wireless Internet", "Air conditioning", Kit...
10       [{Internet, "Wireless Internet", "Air conditio...
11       [{TV, "Cable TV", Internet, "Wireless Internet...
12       [{TV, Internet, "Wireless Internet", Kitchen, ...
13       [{TV, "Cable TV", Internet, "Wireless Internet...
14       [{Kitchen, Heating, "Smoke detector", "Carbon ...
15       [{Internet, "Wireless Internet", "Air conditio...
16       [{TV, "Wireless Internet", Kitchen, "Pets allo...
17       [{Internet, "Wireless Internet", "Air conditio...
18       [{TV, "Cable TV", Internet, "Wireless Internet...
19       [{TV, "Wireless Internet", "Air conditioning",...
20       [{"Cable TV", Internet, "Wireless Internet", "...
21       [{Internet, "Air conditioning", Kitchen, "Smok...
22       [{TV, "Cable TV", Internet, "Wireless Internet...
23       [{Internet, "Wireless Internet", "Air conditio...
24       [{TV, "Wireless Internet", "Air conditioning",...
25       [{TV, "Cable TV", Internet, "Wireless Internet...
26       [{TV, "Wireless Internet", Pool, Kitchen, "Ele...
27       [{TV, "Cable TV", "Wireless Internet", "Air co...
28       [{TV, Internet, "Wireless Internet", "Air cond...
29       [{TV, Internet, "Wireless Internet", "Air cond...
                               ...
74081    [{TV, "Wireless Internet", "Air conditioning",...
74082    [{TV, "Cable TV", Internet, "Wireless Internet...
74083    [{TV, "Wireless Internet", Kitchen, "Smoke det...
74084    [{TV, "Wireless Internet", "Air conditioning",...
74085    [{TV, "Cable TV", Internet, "Wireless Internet...
74086    [{TV, "Wireless Internet", Heating, "Smoke det...
74087    [{TV, "Wireless Internet", "Air conditioning",...
74088    [{TV, Internet, "Wireless Internet", "Air cond...
74089    [{TV, "Cable TV", Internet, "Air conditioning"...
74090    [{TV, Internet, "Smoke detector", "Wireless In...
74091    [{"Wireless Internet", "Air conditioning", Kit...
74092    [{TV, "Cable TV", Internet, "Wireless Internet...
74093    [{TV, "Cable TV", Internet, "Wireless Internet...
74094    [{TV, Internet, "Wireless Internet", "Air cond...
74095    [{TV, "Cable TV", Internet, "Wireless Internet...
74096    [{TV, "Cable TV", Internet, "Wireless Internet...
74097    [{Internet, "Wireless Internet", "Air conditio...
74098    [{Internet, "Wireless Internet", "Air conditio...
74099    [{TV, Internet, "Wireless Internet", "Air cond...
74100    [{Internet, "Wireless Internet", "Air conditio...
74101    [{TV, Internet, "Wireless Internet", Pool, Kit...
74102    [{TV, "Wireless Internet", "Air conditioning",...
74103    [{TV, "Cable TV", Internet, "Wireless Internet...
74104    [{TV, "Cable TV", Internet, "Wireless Internet...
74105    [{TV, Internet, "Wireless Internet", "Air cond...
74106                                                 [{}]
74107    [{TV, "Cable TV", Internet, "Wireless Internet...
74108    [{TV, Internet, "Wireless Internet", "Air cond...
74109    [{TV, "Wireless Internet", "Air conditioning",...
74110    [{TV, Internet, "Wireless Internet", Kitchen, ...
Name: amenities, Length: 74111, dtype: object

In [21]:
import lda
import lda.datasets
X = lda.datasets.load_reuters()
vocab = lda.datasets.load_reuters_vocab()
titles = lda.datasets.load_reuters_titles()